<div  >
<h3>Add Quote</h3>
<form (ngSubmit)='submitQuotel()' #QuoteForm='ngForm'>
<div class="form-group">
  <label for="name">Author</label>
  <input type="text"  class="form-control" [(ngModel)]="newQuote.name" name="name" #name="ngModel" required>
  
</div>

<div class="form-group">
<label for="description">Write Your Quote:</label>
<textarea class="form-control" [(ngModel)]="newQuote.description" name="description" #description="ngModel" required></textarea>


</div>


</form><br><br>
<button type="submit" class="btn btn-secondary">Submit</button>
</div>